<div class="container">
  <h1>Email Application</h1>
  <h2>Developed by Pramod Jain</h2>
  <hr/>
  <div class="row" *ngIf="showForm">
    <div class="col-lg-4 col-md-4 col-sm-12">

      <div class="form-group">
        <label>To</label>
        <input class="form-control" type="text" [(ngModel)]="mailData.to" />
      </div>
      <div class="form-group">
        <label>CC</label>
        <input class="form-control" type="text" [(ngModel)]="mailData.cc" />
      </div>
      <div class="form-group">
        <label>BCC</label>
        <input class="form-control" type="text" [(ngModel)]="mailData.bcc" />
      </div>
      <div class="form-group">
        <label>Subject</label>
        <input class="form-control" type="text" [(ngModel)]="mailData.subject" />
      </div>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" rows="9" [(ngModel)]="mailData.bodyText"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="btnClick($event)">Send</button>
      </div>
    </div>
  </div>
  <div *ngIf="showAjaxLoader" class="text-center">
    <img src="./assets/ajax-loader.gif"/>
  </div>
  <div class="row">

    <p class="{{message.msgType}}">{{message.message}}</p>
  </div>

</div>